RewriteEngine on

RewriteBase /polaroid/

#RewriteCond %{DOCUMENT_ROOT}/polaroid/gen/$0 -f
#RewriteRule ^(.*)$ /polaroid/gen/$0
RewriteRule anonyme\.jpg index.php?anonyme=true [L,QSA]
RewriteRule anonyme-([0-9]+)\.jpg index.php?anonyme=true [L,QSA]

RewriteCond %{DOCUMENT_ROOT}/polaroid/tmp/$1-raw-$2.jpg -f
RewriteRule ([0-9]+)-raw-([0-9]+)\.jpg raw.php?uid=$1&width=$2 [L,QSA]
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)-raw-([0-9]+)\.jpg raw.php?uid=$1&width=$2 [L,QSA]

RewriteCond %{DOCUMENT_ROOT}/polaroid/tmp/$1-raw-small.jpg -f
RewriteRule ([0-9]+)-raw-small\.jpg raw.php?uid=$1&small=true [L,QSA]
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)-raw-small\.jpg raw.php?uid=$1&small=true [L,QSA]


RewriteCond %{DOCUMENT_ROOT}/polaroid/tmp/$1-raw.jpg -f
RewriteRule ([0-9]+)-raw\.jpg raw.php?uid=$1 [L,QSA]
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)-raw\.jpg raw.php?uid=$1 [L,QSA]


RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)-original\.jpg $1.jpg?hd=true&original=true [L,QSA]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)-hd\.jpg $1.jpg?hd=true [L,QSA]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)-anniversaire\.jpg $1.jpg?anniversaire=true [L,QSA]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)\.jpg index.php?uid=$1 [L,QSA]
