RewriteEngine on

RewriteBase /polaroid/

#RewriteCond %{DOCUMENT_ROOT}/polaroid/gen/$0 -f
#RewriteRule ^(.*)$ /polaroid/gen/$0

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)-raw\.jpg index.php?uid=$1&raw=true [L,QSA]


RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)-original\.jpg $1.jpg?hd=true&original=true [L,QSA]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)-hd\.jpg $1.jpg?hd=true [L,QSA]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)-anniversaire\.jpg $1.jpg?anniversaire=true [L,QSA]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ([0-9]+)\.jpg index.php?uid=$1 [L,QSA]
