@media screen and (min-width: 1199px) {
    body:not(.home) {
        #header {
            .logo-default {
                display: none;
            }

            .logo-sticky {
                display: block;
            }
        }
    }
}